.home_menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.home_menu h2 {
    color: white;
    text-align: center;
}

.home_menu .button {
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: rgba(255,255,255,0.3);
    border: 1px solid white;
    border-radius: 5px;
}

.home_menu .button div {
    text-align: left;
    margin-top: 5px;
}

.home_menu .button div p {
    font-weight: lighter;
}

.selected {
    color: #003082 !important;
    background-color: #FFC917 !important;
}

#tijd_over_een_uur {
    font-weight: lighter;
}